*{
    margin: 0;
    --yellow:#FFC000;
    --lightGray:#F7F7F7;
    --dark:#151515;
}

.bg-yellow{
    background-color: var(--yellow);
}
.bg-dark{
    background-color: var(--dark) !important;
}
.text-yellow{
    color: var(--yellow);
}
.ft18{
    font-size: 18px;
}

.btn-yellow{
    background-color: var(--yellow);
    border-radius: 100px;
    padding: 5px 30px;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--dark);
    transition: 0.15s;
}
.btn-yellow:hover{
    color: var(--dark);
    text-decoration: none;
    box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.591);
}